<!-- $Id: project_tools.html 108 2011-12-15 20:59:54Z linus $ -->
<!-- This files is generated from the generate-project-tools.sh script. -->
  <ul>
    <li><a href="/servlets/ProjectMemberList">Membership (PYTHON)</a></li>
    <li><a href="/ds/viewForums.do">Mailing lists (PYTHON)</a></li>
    <li><a href="/source/browse/argouml-python/">Source (PYTHON)</a></li>
  </ul>
</dd>

<dt>The ArgoUML Project</dt>
<dd>
  <ul>
    <li><a href="http://argouml.tigris.org/">Project home</a></li>
  </ul>
</dd>
<dd>
  <ul>
    <li>
      <a href="http://argouml.tigris.org/servlets/ProjectNewsList">ArgoUML News</a>
      <a href="http://argouml.tigris.org/servlets/WebFeed?artifact=news&version=rss_2.0">
        <img src="http://argouml.tigris.org/images/feed-icon.gif" alt="RSS Feed" width="10" height="10"/>
      </a>
    </li>
    <li>
      <a href="http://argouml.tigris.org/wiki">Developer Wiki</a>
      <a href="http://argouml.tigris.org/wiki/RecentChanges">RC</a>
    </li>
    <li><a href="http://argouml.tigris.org/project_bugs.html">Bugs and Issues</a></li>
    <li><a href="http://argouml.tigris.org/source/browse/argouml/trunk/src/">Source Code</a></li>
    <li><a href="http://argouml.tigris.org/servlets/ProjectMemberList">Project Membership</a></li>
    <li>
      <a href="http://argouml.tigris.org/ds/viewForums.do">Mailing lists</a>
      <a href="http://argouml.markmail.org">MarkMail</a>
    </li>
    <li><a href="http://argouml.tigris.org/servlets/ProjectDocumentList">File Sharing</a></li>
  </ul>

<dt>Using ArgoUML</dt> 
<dd> 
  <ul> 
    <li><a href="http://argouml.tigris.org/support.html">Support</a></li> 
    <li><a href="http://argouml-stats.tigris.org/documentation/quickguide-0.34/">Quick guide 0.34</a></li> 
    <li><a href="http://argouml-stats.tigris.org/documentation/manual-0.34/">User Manual 0.34</a></li> 
    <li><a href="http://www.argouml-users.net/index.php?title=FAQ">FAQ</a></li> 
    <li><a href="http://www.argouml-users.net/" target="wiki">Wiki</a></li> 
    <li><a href="http://www.argouml-users.net/forum" target="forum">Forum</a></li> 
    <li><a href="http://argouml.tigris.org/servlets/SummarizeList?listName=users">Users' mailing list</a></li> 
    <li><a href="http://argouml.tigris.org/documentation/">Documentation</a></li> 
    <li><a href="http://argouml.tigris.org/tours/">Tour</a></li> 
    <li><a href="http://argouml-downloads.tigris.org/">Downloads</a></li>
  </ul> 

<script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
</script>
<script type="text/javascript">
_uacct = "UA-682460-2";
urchinTracker();
</script>
